[Unit]
Description=Arcade Controlled Splash
DefaultDependencies=no
After=local-fs.target
Before=arcade-ui.service

[Service]
Type=simple
ExecStart=/usr/bin/fbi -T 3 -noverbose -a /boot/firmware/splash.png
ExecStop=/usr/bin/killall fbi
TTYPath=/dev/tty3
StandardInput=tty
StandardOutput=tty
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
