[Unit]
Description=Arcade watchdog
After=network-online.target arcade-input.service arcade-ui.service
Wants=network-online.target arcade-input.service arcade-ui.service

[Service]
Type=notify
ExecStart=/usr/local/bin/arcade-watchdog.sh
Restart=always
RestartSec=5
WatchdogSec=60
OnFailure=reboot.target
StartLimitIntervalSec=60
StartLimitBurst=5
KillMode=process
KillSignal=SIGINT
EnvironmentFile=-/etc/default/arcade-watchdog.env
StandardOutput=journal
StandardError=journal
SyslogIdentifier=arcade-watchdog
User=root

[Install]
WantedBy=multi-user.target
