[Unit]
Description=Arcade Xorg + Chromium Kiosk
After=systemd-user-sessions.service network.target
Wants=network.target

[Service]
User=arcade1
Group=arcade1
WorkingDirectory=/home/arcade1

Environment=HOME=/home/arcade1
Environment=USER=arcade1
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/arcade1/.Xauthority
Environment=XDG_RUNTIME_DIR=/run/user/1000

TTYPath=/dev/tty2
StandardInput=tty
StandardOutput=journal
StandardError=journal
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes

ExecStart=/usr/bin/startx /home/arcade1/.xinitrc -- :0 vt2 -nocursor -nolisten tcp
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
