[Unit]
Description=Arcade Xorg + Chromium Kiosk
After=arcade-input.service systemd-user-sessions.service arcade-splash.service
Wants=arcade-input.service arcade-splash.service

[Service]
User=arcade1
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/arcade1/.Xauthority
Environment=XDG_RUNTIME_DIR=/run/user/1000
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus
Environment=PULSE_SERVER=unix:/run/user/1000/pulse/native

TTYPath=/dev/tty2
StandardInput=tty
StandardOutput=journal
StandardError=journal
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes

ExecStart=/usr/bin/startx /home/arcade1/.xinitrc -- :0 vt2 -nocursor -nolisten tcp
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
